body {
    min-height: 100vh;
    font-family: Arial;
    background-color: $cor-3;
    padding-top: 100px;
}
img{
  background-image: contain;
  background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .textpricipal {
    color: $cor-5;
    @media (max-width:500px){
      font-size: 24px;
    }
  }
  
  .corpprimary {
    display: flex;
    background-color: $cor-2;
    align-items: center;
    justify-content: center;
    height: 5.75rem;
    width: 100%;
    padding: 1%;
    border: 3px solid $cor-1;
  }
  
  .img1 {
    padding-right: 1%;
    align-items: flex-start;
    width: 88px;
    justify-content: right;
  }
  
  h1, h2, h3, p {
    color: $cor-5;
  }
  
  #conteudoone {
    display: box;
    align-items: center;
    justify-content: center;
    background-color: $cor-2;
    border: 5px solid $cor-4;
    width: 75%;
    height: 750px;
    margin: 0;
    padding: 10px;
    border-radius: 2%;
  }
  
  
  .carousel-item img {
    height: 400px; 
    object-fit: cover;
    width: 500px;
  }
  body {
      display: flex;
      align-items: center;
      flex-direction: column;

  }

  .w-1 {
      width: 60px;
  }
  
.alinhamento{
     display: flex;      
}
  .creditos {
    width: 450px;
    margin: 20px;
    border: 5px solid $cor-5 !important;
    background-color: $cor-1 !important;
    border-radius: 16px !important;
    flex: 1;
    max-height: fit-content;
    height: fit-content;
    @media(max-width:955px){
      width: 100%;

    }
  }
  .creditos1 {
    width: 450px;
    margin: 20px;
    border: 5px solid $cor-5 !important;
    background-color: $cor-1 !important;
    border-radius: 16px !important;
    flex: 1;
    max-height: fit-content;
    height: fit-content;
    @media(max-width:955px){
      width: 100%;

    }
  }
  /*.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);

    .col-1{
        grid-column: span 6;
        @media(max-width:955px){
            grid-column: span 12;
        }
    }
    .col-2{
        grid-column: span 6;
        @media(max-width:955px){
            grid-column: span 12;
        }
    }
  }
*/
  .titulo{
    text-align: center;
    @media(max-width:500px){
      font-size: larger;
    }
  }
.list{
  list-style: none;
  .names{
    font-size: x-large;
    color: $cor-5 !important;

  }
}

  .carousel{
    height:400px;
    @media (max-width: 425px) {
      width: 400px;
    }
  
  }


  .carousel-inner{
    @media (max-width:425px){
      
    }
  }
  







.mlat{
    border-radius: 10px 0px 0px 10px;
    transition: ease-in-out;
    transition-duration: 0.7s;
    position: fixed;
    background-color: $cor-1;
    height: 100vh;
    width: 20%;
    margin-left: 200%;
    z-index: 4;
    top: 89px;
    border: 2px solid rgb(235, 165, 15);
}

.aparecer{
    position: fixed;
    margin-left: 80%;
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

.button{
  color: $cor-1;
  background-color: $cor-3;
  width: 100%;
  border:none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buti{
  display: flex;
  color: black;
  cursor: pointer;
  
}

.mov{
  display: flex;
  justify-content: end;
  width: 1800px;
}