/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Cores*/
.carousel-item img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-blue {
  background-color: #FFFFFF !important;
}

.modal-footer {
  background-color: #000000 !important;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.897);
}
@media (max-width: 500px) {
  .modal-footer {
    height: 100% !important;
    padding: 1px;
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .footer-content {
    height: 100% !important;
    padding: 1px;
  }
}

.footer-logo {
  width: 100px;
}
@media (max-width: 500px) {
  .footer-logo {
    height: 100% !important;
    padding: 1px;
  }
}

.social-list {
  list-style: none;
  padding: 0;
}

.social-list li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.social-icon {
  width: 30px;
  margin-right: 10px;
}

.container {
  margin: 40px;
  background-color: #000000 !important;
  border-radius: 1px !important;
  flex: 1;
}

.txt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-column-gap: 0.25rem !important;
  column-gap: 0.25rem !important;
  padding: 14px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 500px) {
  .ptxt {
    font-size: 55%;
    margin-top: 0%;
  }
}
@media (min-width: 800px) {
  .ptxt {
    display: flex;
    align-items: center;
    padding: 70px;
    text-align: justify;
    font-size: 25px;
    margin: 1%;
  }
}
@media (max-width: 300px) {
  .ptxt {
    margin-top: 0.5%;
  }
}

@media (min-width: 800px) {
  .text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 70px;
    text-align: justify;
    font-size: 25px;
  }
}

.max-h-fit-content {
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.hover-grow {
  transition: all 0.2s ease-in-out;
}

.hover-grow:hover {
  transform: scale(1.05);
}

.te {
  margin-top: 18px;
  padding: 0;
  height: 100%;
}
@media (min-width: 500px) {
  .te {
    margin-top: 27px;
  }
}

/* Created by Tivotal */
/* Google Fonts(Poppins) */
/*
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
}
.carrinho {
  margin-top: 1px;
  min-height: 40vh;
  padding: 0 35px;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-self: center;
}
.wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
}
.fa-angle-left{
  margin-right: 10px;
}
.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}


.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 2px);
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.wrapper .carousel .card {
  scroll-snap-align: start;
  height: 342px;
  background: #000000;
  border-radius: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.wrapper .carousel.dragging .card {
  user-select: none;
  cursor: grab;
}

.wrapper .carousel .card .img_one {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Minecraft-creeper-face.jpg/800px-Minecraft-creeper-face.jpg);

}


.wrapper .carousel .card .img_two {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_doismaisum {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_four {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_five {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_six {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_seven {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_eight {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img img {
  height: 133px;
  width: 233px;
  object-fit: contain;
  border-radius: 14px;
}

.wrapper .carousel .card h2 {
  font-size: 1.52rem;
  font-weight: 500;
  margin: 30px 0 5px;
}

.wrapper .carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

#right {
  margin-left: -10px;
}

#left {
  margin-left: -14px;
}


@media (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
} */
body {
  min-height: 100vh;
  background-color: #222222;
  padding-top: 100px;
  font-family: "Minecraft", sans-serif;
  transition: all 1.2s ease-in-out;
}

img {
  background-image: contain;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  img {
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 1000px) {
  img {
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 300px) {
  img {
    width: -moz-max-content;
    width: max-content;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textpricipal {
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .textpricipal {
    display: block;
    text-align: center;
    font-size: 150%;
    width: 75%;
  }
}

.corpprimary {
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  height: 5.75rem;
  width: 100%;
  padding: 1%;
}

.img1 {
  padding-right: 1%;
  align-items: flex-start;
  width: 88px;
  justify-content: right;
}

h1,
h2,
h3,
p {
  color: #FFFFFF;
}

#conteudoone {
  display: box;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border: 5px solid #D3D3D3;
  width: 50%;
  height: 750px;
  margin: 0;
  padding: 10px;
  border-radius: 2%;
}

.carousel-item img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .carousel-item img {
    height: 400px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
}

.w-1 {
  width: 180px;
  padding: 10px;
}
@media (max-width: 900px) {
  .w-1 {
    width: 100px;
    padding: 100px;
  }
}

.alinhamento {
  display: flex;
}

.creditos {
  width: 450px;
  margin: 20px;
  background-color: #000000 !important;
  border-radius: 5px !important;
  flex: 1;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 955px) {
  .creditos {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .creditos {
    font-size: 80% !important;
  }
}

.creditos1 {
  width: 450px;
  margin: 20px;
  background-color: #000000 !important;
  border-radius: 5px !important;
  flex: 1;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 955px) {
  .creditos1 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .creditos1 {
    font-size: 80% !important;
  }
}

/*.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);

    .col-1{
        grid-column: span 6;
        @media(max-width:955px){
            grid-column: span 12;
        }
    }
    .col-2{
        grid-column: span 6;
        @media(max-width:955px){
            grid-column: span 12;
        }
    }
  }
*/
.titulo {
  text-align: center;
}
@media (max-width: 500px) {
  .titulo {
    font-size: larger;
  }
}

ul {
  padding-left: 0rem;
}

.list {
  list-style: none;
}
.list .names {
  color: #FFFFFF;
  list-style-type: none;
}
@media (max-width: 500px) {
  .list .names {
    font-size: 90% !important;
    text-align: center;
    padding-left: 0rem !important;
  }
}

.carousel {
  height: 400px;
}
@media (max-width: 425px) {
  .carousel {
    width: 400px;
  }
}

.mlat {
  border-radius: 5px 0px 0px 10px;
  transition: ease-in-out;
  transition-duration: 0.7s;
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 20%;
  margin-left: 200%;
  z-index: 4;
  top: 90px;
}
@media (max-width: 900px) {
  .mlat {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .mlat {
    top: 80px;
    width: 50%;
  }
}

.aparecer {
  position: fixed;
  margin-left: 80%;
  border-left: 4px solid white;
  border-radius: 0px;
}
@media (max-width: 900px) {
  .aparecer {
    margin-left: 60%;
  }
}
@media (max-width: 500px) {
  .aparecer {
    margin-left: 50%;
  }
}

.TMlat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  height: 80px;
  padding-bottom: 20px;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 500px) {
  .TMlat {
    padding-bottom: 0;
  }
}

header ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  padding-left: 8px;
}

.LMlat {
  margin-bottom: 20px;
  font-size: larger;
}

header ul a {
  color: rgb(255, 255, 255);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.button {
  color: white;
  background-color: #222222;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buti {
  display: flex;
  color: black;
  cursor: pointer;
}

.mov {
  display: flex;
  justify-content: end;
  width: 1800px;
}

@media (max-width: 500px) {
  .bg-white {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}

iframe {
  width: 70%;
  height: 450px;
  padding: 20px;
}
@media (max-width: 500px) {
  iframe {
    height: 250px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}/*# sourceMappingURL=styles.css.map */